@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/GothamHTF-Medium.eot');
    src: url('../assets/fonts/GothamHTF-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/GothamHTF-Medium.woff2') format('woff2'),
        url('../assets/fonts/GothamHTF-Medium.woff') format('woff'),
        url('../assets/fonts/GothamHTF-Medium.ttf') format('truetype'),
        url('../assets/fonts/GothamHTF-Medium.svg#GothamHTF-Medium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/GothamLight.eot');
    src: url('../assets/fonts/GothamLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/GothamLight.woff2') format('woff2'),
        url('../assets/fonts/GothamLight.woff') format('woff'),
        url('../assets/fonts/GothamLight.ttf') format('truetype'),
        url('../assets/fonts/GothamLight.svg#GothamLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/GothamBook.eot');
    src: url('../assets/fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/GothamBook.woff2') format('woff2'),
        url('../assets/fonts/GothamBook.woff') format('woff'),
        url('../assets/fonts/GothamBook.ttf') format('truetype'),
        url('../assets/fonts/GothamBook.svg#GothamBook') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dji';
    src: url('../assets/fonts/Dji-Demi.eot');
    src: url('../assets/fonts/Dji-Demi.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Dji-Demi.woff2') format('woff2'),
        url('../assets/fonts/Dji-Demi.woff') format('woff'),
        url('../assets/fonts/Dji-Demi.ttf') format('truetype'),
        url('../assets/fonts/Dji-Demi.svg#Dji-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Gotham', Helvetica, sans-serif;
    margin: 0;
}

/*  =============  GENERAL  ==============  */

/*Header*/
header {
  background-size: cover;
  padding: 50px;
  text-align: center;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.08);
}

header img {
  height: 130px;
}

h1 {
  color: white;
  font-size: 63px;
  font-weight: 400;
}

h2 {
  color: white;
  font-size: 51px;
  letter-spacing: 4px;
}

h3 {
  font-weight: lighter;
  font-size: 29px;
  color: white;
}

p {
  font-size: 38px;
  color: white;
  font-weight: lighter;
  line-height: 1.7;
}

aside.home_click {
  right: 31px;
  top: 254px;
  display: none;
  z-index: 1;
  position: absolute;
  padding: 34px 50px;
  text-align: center;
  z-index: 2;
}

aside.home_click img {
  height: 68px;
}

aside.home_click h3 {
  margin-bottom: 0px;
  margin-top: 22px;
  color: #44a8f2;
}

.button {
  background-color: #44a8f2;
  padding: 45px 50px;
  margin-bottom: 77px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none;
  font-family: 'Dji', Arial, sans-serif;
  text-align: center;
}

.reverse {
  background-color: white;
  color: #44a8f2;
}

.gif_info {
  display: none;
  color: #44a8f2;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  bottom: 135px;
  font-weight: bold;
  font-size: 47px;
}

.next {
  display: none;
  width: 241px;
  background-color: #44a8f2;
  color: white ;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}

form {
  margin-top: 107px;
}

input.input, select {
  display: inline-block;
  width: 83%;
  padding: 54px;
  background: transparent;
  border: 2px solid white;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 48px;
  outline: none;
  color: white;
  transition: border .5s;
}

select {
  width: 96%;
}

select option {
    color: rgba(68, 168, 242, 1);
}

input.input::placeholder {
  color: rgba(255, 255, 255, 0.62);
  font-weight: lighter;
}

input.input:focus {
  border: 4px solid white;
}

.share_overlay {
  display: none;
  background-color: rgba(68, 168, 242, .8);
  height: 1690px;
  width: 100%;
  position: absolute;
  top: 230px;
      z-index: 2;
}

.share_overlay input.input {
  display: block;
}

#share_alert, #donation_alert {
  background-color: white;
  display: none;
  position: absolute;
  bottom: 0;
  height: 1920px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  text-align: center;
  z-index: 7;
}

#share_alert h3, #donation_alert h3 {
  font-size: 60px;
  color: #44a8f2;
  font-weight: normal;
  margin-bottom: 10px;
}

#share_alert p, #donation_alert p {
  color: #44a8f2;
  
}

#done {
  position: absolute;
  right: 133px;
  top: 620px;
}



/* ================  HOME  =================*/
.sponsors {
  background-color: rgba(68, 168, 242, 0.3);
  position: absolute;
  top: 229px;
  z-index: 1000;
  width: 100%;
  text-align: center;
}


.photos {
  background-size: cover;
  /*background: #44a8f2;*/
  height: 985px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#photos {
  transition: opacity 1s, height .5s;
}

.photos img {
  background: white;
  padding: 45px 50px;
  height: 112px;
}

#slider, .slide_pic, .slide {
  width: 100%;
  height: 100%;
}

#slider {
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 230px;
  height: 985px;
  display: none;
  width: 100%;
  font-size: 200px; color: white; text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide img {
  height: 985px;
  width: 985px;
  padding: 0;
}

.slide_pic {
  position: absolute;
  height: 985px;
}

.pic_one {
  background-size: cover;
  background-image: url('../assets/img/home_photo.jpg');
}

.pic_two {
  background-size: cover;
  background-image: url('../assets/img/home_photo2.jpg');
}

.pic_three {
  background-size: cover;
  background-image: url('../assets/img/home_photo3.jpg');
}

.pic_four {
  background-size: cover;
  background-image: url('../assets/img/home_photo4.jpg');
}

.photos .button {
  position: absolute;
  margin-top: -54px;
}

#choose_picture {
  left: 120px;
  width: 280px;
}

#choose_gif {
  right: 120px;
  width: 280px;
  text-align: center;
}


.donate {
  background-size: cover;
  background-image: url('../assets/img/contact.jpg');
  background-position: 268px 9px;
  background-size: 792px;
  /*background-position: left 145px top;*/
  background-repeat: no-repeat;
  /*background-color: #f1f1f1;*/
  height: 225px;
  width: 100%;
  border-bottom: 10px solid #e8e6e6;
  transition: opacity 1s, height .5s, background-size .5s;
}

.donate.active {
    background-position: left -900px bottom;
    background-size: 2000px 548px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
}

.donate .overlay h2 {
    margin-right: 258px;
}

span.currencyinput {
  position: relative;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.61);;
  left: 54px;
  top: -372px;
  transition: color .5s;
}

input.donateinput {
  padding-left: 114px;
  width: 76.5%;
}

.inner_content {
  display: none;
  width: 100%; height: 100%;
}

.container {
  margin: auto;
  padding: 100px;
  width: 880px;
}

.about {
  background-size: cover;
  background-image: url('../assets/img/about_logo.jpg');
  /*background-color: #44a8f2;*/
  height: 225px;
  width: 100%;
  transition: opacity 1s, height .5s;
  border-bottom: 10px solid #e8e6e6;
}


.about.active {
     background-position: left bottom;
    background-size: 2000px 548px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
}

.about .overlay h2 {
    margin-left: 300px;
}

.win {
  background-size: cover;
  background-image: url('../assets/img/about.jpg');
  background-position: 513px -12px;
  /*background-color: #44a8f2;*/
  height: 225px;
  width: 100%;
  transition: opacity 1s, height .5s;
}

.win .overlay h2 {
    position: relative;
    right: 242px;
}

.win.active {
    background-position: 64px 1000px;
    background-size: 2000px 548px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
}


.overlay {
  /*background-color: rgba(68, 168, 242, 0.5);*/
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.overlay h2 {
  color: #717472;
  font-weight: 400;
}

.active {
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}


/* ================  PHOTOS  =================*/
.camera_button {
  display: none;
  position: absolute;
  top: 428px;
}

.countdown {
  font-size: 0px;
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-30%);
  -webkit-transition: font-size .7s ease;
  -moz-transition: font-size .7s ease;
  -o-transition: font-size .7s ease;
  transition: font-size .7s ease;
}

.flash {
  display: none;
  background: yellow;
  height: 1690px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  transition: background-color 1s;
}

.pic_text, .gif_text {
  display: none;
  position: absolute;
  top: 225px;
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: #717472;
}

#video, #pictures, #pictures .canvas_holder {
  display: none;
}

#inverse {
  -webkit-filter:invert(1);
    -moz-filter:invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1);
}

.canvas_holder {
    display: inline-block;
    text-align: center;
}

.gif_container {
  padding: 50px;
  width: 980px;
}

.gif_container .canvas_holder {
  width: 400px;
  margin: 66px 45px;
}

.gif_container .canvas_holder img {
  width: 400px;
}

.gif {
  transition: outline 1s;

}

.photo {
  width: 100%;
  height: 1690px;
  top: 230px;
  position: absolute;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.photo img, .gif_show img {
  width: 75%;
}

.gif_show img {
  height: 620px
}

/*#pictures .canvas {
  width: 100%;
  height: 100%;
}
*/
.submit {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.like {
  display: none;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 39%;
  background: white;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
}

.check {
  display: inline-block;
}

.check:after{
  content: '';
  display: block;
  width: 30px;
  height: 60px;
  border: solid #ea5e28;
  border-width: 0 15px 15px 0;
  transform: rotate(45deg);
  margin-top: -18px;
}

.gif_show {
  display: none;
  height: 1690px;
  width: 100%;
  position: absolute;
  top: 230px;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex !important;
}

.gif_show .gif {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
}

.gif_show .gif canvas {
  height: 100%;
  width: 100%;
}

#loader {
  position: absolute;
  top: 50%;
  transform: translateY(-60%); 
  width: 100%;
}

.event_pics .button {
  display: none;
}

.choice h2 {
  font-size: 82px;
}

.choice {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 845px;
}

.event_images {
  background-image: url('../assets/img/home_photo.jpg');
}

.event_gifs {
  background-image: url('https://static.wixstatic.com/media/c11316_9ccc15c96fd04386b552cadf789f303f~mv2.gif');
}

.display_images, .display_gifs {
  display: none;
  text-align: center;
}

.event_pics .button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 28px;
}

.display_gifs img:last-child {
  margin-bottom: 300px;
}

.display_images img:last-child {
  margin-bottom: 300px;
}
/*.orange {
  opacity: 0;
  height: 1690px;
  background-color: #44a8f2;  
  transition: opacity 1s, height 2s;
  position: absolute;
  bottom: 0;
}*/



